<mat-toolbar color="primary">
  IP Location App
</mat-toolbar>

<div class="container">
  <div class="left-column">
    <app-search-history [searchHistory]="searchHistory"></app-search-history>
  </div>
  <div class="main-content">
    <div class="top-section">
      <div class="map-container">
        <app-map [latitude]="userLocation?.latitude" [longitude]="userLocation?.longitude"></app-map>
      </div>
      <div class="info-container">
        <app-location-info [location]="userLocation"></app-location-info>
      </div>
    </div>

    <div class="search-section">
      <app-search-box (locationFound)="onLocationFound($event)" (errorOccurred)="onError($event)" (searchTermEntered)="onSearchTermEntered($event)"></app-search-box>
    </div>

    <div class="bottom-section">
      <div class="map-container">
        <app-map [latitude]="searchLocation?.latitude" [longitude]="searchLocation?.longitude"></app-map>
      </div>
      <div class="info-container">
        <app-location-info [location]="searchLocation"></app-location-info>
      </div>
    </div>
  </div>
</div>
